<%- include("./../partials/top") %>

<h1>Books</h1>

<form method="GET">
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title" value="<%= searchOptions.title %>">
    <label for="publishAfter">PUBLISH AFTER</label>
    <input type="date" name="publishAfter" id="publishAfter" value="<%= searchOptions.publishAfter%>">
    <label for="publishAfter">PUBLISH BEFORE</label>
    <input type="date" name="publishBefore" id="publishBefore" value="<%= searchOptions.publishBefore %>">

    <input type="submit" value="Search">
</form>

<h2>Results</h2>

<div class="book-results">

    <% books.forEach(book => { %>

    <a href="/books/<%= book._id %> ">
        <div class="book-results-item">
            <p><%= book.title %> </p>
            <img src="<%= book.imagePath %>" alt="<%= book.title %>" height="150px" width="100px">
        </div>
    </a>

    <% }) %>

</div>

<%- include("./../partials/bottom") %>