<%- include("./../partials/top") %>

<div>
    <h1><%= book.title %> </h1>
    <img src="<%= book.imagePath %>" alt="<%= book.title %>" height="300px" width="200px">
</div>

<div>

    <p>Description: <%= book.description %> </p>
    <h4>Author Name: <%= book.author.name %> </h4>
    <p><em><%= book.publishDate.toDateString() %> </em></p>
    <a href="/books/<%= book._id%>/new">Edit</a>
    <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</div>


<%- include("./../partials/bottom") %>