<%- include("./../partials/top") %>

<h1><%= author.name %> </h1>

<div>
    <p> <%= author.name %> </p>
    <a href="/authors/<%= author._id %>/edit">Edit</a>
    <form method="POST" action="/authors/<%= author._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
    <a href="/authors">Back</a>

    <% if (booksByAuthor.length) { %>

    <h2>Books</h2>
    <div class="book-results">

        <% booksByAuthor.forEach(book => { %>

        <div class="book-results-item">
            <p><%= book.title %> </p>
            <img src="<%= book.imagePath %>" alt="<%= book.title %>" height="150px" width="100px">
        </div>

        <% }) %>

    </div>

    <% } else { %>

    <h2>No book by <%= author.name %></h2>

    <% } %>
</div>